<h4><%= author %></h4>
<img src='<%= image %>' alt='Foto autor' id='author_img'>
<video controls alt='video_autor' id='author_video'>
  <source src='<%= video %>' type='video/mp4'>
  Your browser does not support the video tag.
</video>
